/*!
 * niktorious.css
 *
 * Place any changes to Bootstrap stuff here
 *
 * Copyright 2013 blah blah blah niktorious
 */


/* Add background image to hero unit */
.hero-unit {
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
}


/* Change the colour of the navbar */
.navbar-inverse .navbar-inner {
  background-color: #A4A4A4;
  background-image: -moz-linear-gradient(top, #BDBDBD, #A4A4A4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BDBDBD), to(#A4A4A4));
  background-image: -webkit-linear-gradient(top, #BDBDBD, #A4A4A4);
  background-image: -o-linear-gradient(top, #BDBDBD, #A4A4A4);
  background-image: linear-gradient(to bottom, #BDBDBD, #A4A4A4);
  background-repeat: repeat-x;
  border-color: #A4A4A4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BDBDBD', endColorstr='#A4A4A4', GradientType=0);
}

/* Change the colour of the dropdown menu */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #A4A4A4;
  background-image: -moz-linear-gradient(top, #A4A4A4, #999999);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A4A4A4), to(#999999));
  background-image: -webkit-linear-gradient(top, #A4A4A4, #999999);
  background-image: -o-linear-gradient(top, #A4A4A4, #999999);
  background-image: linear-gradient(to bottom, #A4A4A4, #999999);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A4A4A4', endColorstr='#999999', GradientType=0);
}

/* Change the colour of the navbar header */
  .nav-collapse .nav .nav-header {
    color: #444444;
    text-shadow: none;
  }

/* Change the colour of the navbar button */
.navbar-inverse .btn-navbar {
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
  background-color: #6E6E6E;
  *background-color: #646464;
  background-image: -moz-linear-gradient(top, #7D7D7D, #646464);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7D7D7D), to(#646464));
  background-image: -webkit-linear-gradient(top, #7D7D7D, #646464);
  background-image: -o-linear-gradient(top, #7D7D7D, #646464);
  background-image: linear-gradient(to bottom, #7D7D7D, #646464);
  background-repeat: repeat-x;
  border-color: #040404 #040404 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7D7D7D', endColorstr='#ff646464', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:focus,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #646464;
  *background-color: #606060;
}

.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #BDBDBD;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* Change the colour of the navbar brand and text */
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #2E2E2E;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav > li > a:focus {
  color: #000000;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #000000;
  background-color: #A4A4A4;
}

/* Change the colour of the dropdown */
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: #000000;
  background-color: #A4A4A4;
}

/* Change the colour of the dropdown glyph */
.navbar-inverse .nav li.dropdown > a:hover .caret,
.navbar-inverse .nav li.dropdown > a:focus .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #2E2E2E;
  border-bottom-color: #2E2E2E;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

/* Chage the colour of the navbar when it collapses */
.navbar-inverse .nav-collapse .nav > li > a,
.navbar-inverse .nav-collapse .dropdown-menu a {
  color: #2E2E2E;
}

.navbar-inverse .nav-collapse .nav > li > a:hover,
.navbar-inverse .nav-collapse .nav > li > a:focus,
.navbar-inverse .nav-collapse .dropdown-menu a:hover,
.navbar-inverse .nav-collapse .dropdown-menu a:focus {
  background-color: #A4A4A4;
}

/* Non bootstrap things go below here */

.bg-grey {
  background-color: #F2F2F2
}

.img-intro {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.text-tab {
  text-indent: 30px;
}

.resume-divider {
  width: 100%;
  border-color: #000000;
}

.resume-header {
  background-color: #C0C0C0;
  padding: 10px;
}

.resume-job {
  background-color: #E0E0E0;
  padding: 5px;
  margin-bottom: 5px;
}

.blog-divider {
  width: 80%;
  border-color: #C0C0C0;
}

.blog-table {
  width: 80%;
}

.blog-table td {
  padding: 10px;
  border-bottom: solid 2px;
  border-bottom-color: #C0C0C0;
}

.large {
  font-size: 1.15em;
  font-weight: bold;
}

.job-title {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
}

.indent {
  position: relative;
  padding-left: 25px;
}

.header {
  margin-left: auto;
  margin-right: auto;
}

.centre {
  text-align: center;
}

#content a {
  color: #666666;
  text-decoration: none;
  border-bottom: 1px #666666 dotted;
}

#content a:hover {
  color: #999999;
  text-decoration: none;
  border-bottom: none;
}